@charset "UTF-8";
/* CSS Document */

body{ 
	background-color: #535353;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

}
#body {
	align-content: center;
	background-color: #eeedee;
	width: 65%;
	border-color:  #C7C6C6;
	border-style: solid;
	border-bottom-width: 25px;
	border-top-width: 8px;
	border-right-width: 120px;
	border-left-width: 120px;
	margin-left: auto;
	margin-right: auto;
	 
}


a:link {
  color: #0000EE;
	padding:10px 15px;
	margin: 5px 15px;
	border-radius: 5px;
	text-decoration: none;
}

/*visited link*/
a:visited {
  color: #0000EE;
	padding:10px 15px;
	margin: 5px 15px;
	border-radius: 5px;
	
}
#single
{
	font-size:25px; 
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
}
#nav
{
	font-size:25px; 
	text-align: center;
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
}
#foot
{
	font-size:20px; 
	text-align: center;
	background-color: #c3c3c3; 
	color: black;
	padding: 15px
}
p{
 font-family: 'Courier New', monospace; font-weight: bold; padding: 25px;font-size: 25px;
		}
h1 {
			font-family: 'Courier New', monospace; font-weight: bold;
			text-align: center; font-size: 45px;
		}
h2 {
	font-family: 'Courier New', monospace; font-weight: bold;
			text-align: center; font-size: 30px;
}
body{ 
	background-color: #535353;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
		}
button {
	background-color: white; /* Green background */
  border:none;
  padding: 5% 2%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */ 
 margin-left: 20px;
  color: #0000EE;
  text-align: center;
  font-size: 25px;
	box-shadow: 3px 3px 0px 0px #b5b5b6;
}

button:hover {
	background-color: #c3c3c3;
	color: #2755FF
	
}
    .button-container {
       display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
    }

    /* Style for buttons */
    .center-button {
      padding: 10px 20px;
  
      border: none;
      border-radius: 0px;
      cursor: pointer;
      font-size: 25px;
      transition: background-color 0.3s;
    }
